{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block javascripts %}
<script>
$(document).ready
(
		function()
		{		
			doctores = new Array();
			$.ajax(
					{
				    url:"{{ path('doctoresAjax') }}",
				    type:"POST",
				    success:function(data)
				    {
				    	var sel = $("#combo_doctores");
				    	sel.empty();
				    	console.info(data[0].Nombre);
				    	for (var i=0; i<data.length; i++) 
					    {
				    	     sel.append('<option value="' + data[i].Id + '">' + data[i].Nombre + '</option>');
					    }				    	
			    	}
			});
    	}
);
$('#doctores_ac').autocomplete
({
    source: 
    function(request, response) 
    {
        textoIngresado=$('#doctores_ac').val();
        $.getJSON('{{ path('doctoresAjaxFiltro', {nombreDoctor:""}) }}/'+textoIngresado, function(result) 
         {
            response($.map(result, 
                    function(item) 
                    {
                		return item.Nombre;
            		}
    		));
        });
    }
});
</script>
{% endblock %}
{% block body %}

<div id="titulo" name="titulo"><h1>Crear un turno</h1></div>

<form action="{{ path('turno_new') }}" method="post" {{ form_enctype(form) }}>
	{# errors y rest van siempre #}
	{{ form_errors(form) }} 
	
	
	<div id="campo" name="campo">
	<span>
    {{ form_label(form.doctor) }}  {{ form_widget(form.doctor) }}  {{ form_errors(form.doctor) }}    
	</span>
	</div>	
    
	<div id="campo" name="campo">	
	<span>
    {{ form_label(form.paciente) }}  {{ form_widget(form.paciente) }}  {{ form_errors(form.paciente) }}    
	</span>
	</div>
	
	<div id="campo" name="campo">
	<span>
    {{ form_label(form.fechaTurno) }}  {{ form_widget(form.fechaTurno) }}  {{ form_errors(form.fechaTurno) }}    
	</span>
	</div>
	
	<div id="campo" name="campo">
	<span>
    {{ form_label(form.realizado) }}  {{ form_widget(form.realizado) }}  {{ form_errors(form.realizado) }}    
	</span>
	 <span>
    {{ form_label(form.confirmado) }}  {{ form_widget(form.confirmado) }}  {{ form_errors(form.confirmado) }}    
	</span>
	</div>
    {{ form_rest(form) }}
    
   <p></p>
   
    <div id="div_boton" name="div_boton">
        <button id="boton" type="submit">Crear</button>
    </div>
</form>

<p></p>
<ul class="record_actions">
    <li>
        <a href="{{ path('turno') }}">
            Volver a la lista
        </a>
    </li>
</ul>


<div class="ui-widget">
    <label for="doctores_ac">Doctores Autocomplete: </label>
    <input id="doctores_ac" />
</div>
 
 Combo doctores Ajax
 
 <select id="combo_doctores" name="combo_doctores">		
 </select>
 

{%  endblock body %}