{% extends '::base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function() 
		{
			$( "#eliminarTodos" ).click(
			        function() 
			        {
			            $( "#dialog-confirm" ).dialog( "open" );
			            return false;
			        });
			 $( "#dialog-confirm" ).dialog(
				    	{
				        resizable: true,
				        autoOpen: false,
				        height:140,
				        modal: true,
				        buttons: 
				            {
				            "Delete all items": 
				            function() 
				            {
				    			$.ajax(
				    					{
				    				    url:"{{ path('borrarTurnos') }}",
				    				    type:"POST",
				    				    success:function(data)
				    				    {
				    				    	 window.location.reload();		    	
				    			    	}
				    			});
				                $( this ).dialog( "close" );
				            },
				            Cancel: function() {
				                $( this ).dialog( "close" );
				            }
				        }
				    });	  		
		});
   
</script>
{% endblock %}
{% block body %}
<h1>Lista de Turnos</h1>

<table class="records_list" border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fecha del turno</th>
            <th>Confirmado</th>
            <th>Realizado</th>
            <th>Medico</th>
            <th>Paciente</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('turno_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
            </td>
            <td>
            	{% if entity.FechaTurno %}
            				{{ entity.FechaTurno|date('Y-m-d H:i:s') }}
            	{% endif %}
            </td>
            <td>{% if entity.Confirmado==true %}
            				Si
            	{% else %}
						    No	
            	{% endif %}
            </td>
            <td>{% if entity.Realizado==true %}
            				Si
            	{% else %}
							No	
            	{% endif %}
            </td>
            <!-- medico -->
            <td><a href="{{ path('doctor_show', { 'id': entity.doctor.id }) }}">{{ entity.doctor }}</a>     
            </td>
            <!-- paciente -->
            <td><a href="{{ path('paciente_show', { 'id': entity.paciente.id }) }}">{{ entity.paciente }}</a>     
            </td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('turno_show', { 'id': entity.id }) }}">Detalles</a>
                    </li>
                    <li>
                        <a href="{{ path('turno_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('turno_delete', { 'id': entity.id }) }}">Borrar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('turno_new') }}">
            Crear nuevo turno
        </a>
    </li>
    <li>
	   
	 <a id="eliminarTodos" name="eliminarTodos">Eliminar todos</a>
    </li>
</ul>
 <div id="dialog-confirm" title="Empty the recycle bin?">
	    <span class="ui-icon ui-icon-alert" style="float: left; display:none; margin: 0 7px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</span>
</div>
{%  endblock body %}